.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 70px;
  background-color: white;
  border: 2px solid #333;
}

.black {
  --width: 40px;
  position: relative;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.key.white.pressed,
.key.black.pressed {
  background-color: #00d8ff;
}

.keyText {
  position: relative;
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin-top: calc(var(--width) * 3);
  text-align: center;
  pointer-events: none;
}
