.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.white {
  --width: 70px;
  background-color: white;
  border: 2px solid #333;
}

.black {
  --width: 40px;
  position: relative;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.key.white.pressed,
.key.black.pressed {
  background-color: #00d8ff;
}

.keyText {
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  height: calc(var(--width) * 0.9);
  width: calc(var(--width) * 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--width) * 0.15);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.keyText.marked {
  border: 1px solid #333;
  border-radius: 50%;
  background-color: tomato;
}

.black > .keyText {
  font-size: 18px;
  color: white;
}

.white > .keyText {
  font-size: 36px;
  color: black;
}
